@implements IDialogContentComponent<List<Track>>

@inject ITrackStore TrackStore

@* Header *@
<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.WindowApps())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

@* Footer *@
<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync">Upload</FluentButton>
    <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Cancel</FluentButton>
</FluentDialogFooter>

@* Body *@
<FluentDialogBody>
    <FluentInputFile 
                    Id="audio-uploader" 
                    Mode="InputFileMode.SaveToTemporaryFolder"
                    MaximumFileSize="@(40 * 1024 * 1024)" Accept="audio/*" 
                    OnCompleted="@OnCompletedAsync">
        <div>
            <FluentIcon Icon="Icons.Regular.Size24.ArrowUpload" />
            <p>Drag and drop files here or click to browse</p>
        </div>
    </FluentInputFile>
</FluentDialogBody>

@code {

    [Parameter]
    public List<Track> Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    private async Task OnCompletedAsync(IEnumerable<FluentInputFileEventArgs> files)
    {
        try
        {
            Console.WriteLine($"Uploading {files.Count()} file(s)...");

            var file = files.FirstOrDefault();

            Console.WriteLine($"Received file: {file?.Name}, size: {file?.Size} bytes, name:{file?.LocalFile?.FullName}");

            if (file?.LocalFile == null)
            {
                return;
            }

            TrackStore.UploadTrack(new Track
            {
                TrackId = Guid.NewGuid(),
                Title = Path.GetFileNameWithoutExtension(file.Name),
                Artist = "Unknown Artist",
                Album = "Unknown Album",
            }, file.LocalFile);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error uploading file: {ex.Message}");
        }
    } 

    private async Task SaveAsync()
    {
        await Dialog.CloseAsync(Content);
    }

    private async Task CancelAsync()
    {
        await Dialog.CancelAsync();
    }
}